html,
body {
  margin: 0;
  padding: 0;
}

div.grid *,
nav {
  outline: 2px solid black;
}

body {
  background-color: hsla(190, 90%, 40%, 0.7);
  display: grid;
  grid-template-rows: 7% 93%;
  height: 100vh;
}
img {
  min-width: 50%;
  width: auto;
  height: 45%;
  border-radius: 25px;
}

div.inserted {
  color: brown;
}

div.body {
  display: grid;
  grid-template-columns: 60% 40%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  background-color: hsla(270, 39%, 68%, 0.7);
}

.footer {
  background-color: hsla(82, 80%, 60%, 0.64);
}

.grid {
  display: grid;
  grid-template-rows: 75% 1fr;
}

nav {
  width: 500px;
  display: flex;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
  background-color: hsla(160, 100%, 75%, 0.7);
}

a:nth-child(1) {
  margin-left: 10px;
}

a {
  text-align: center;
}
