html,
body {
  padding: 0;
  margin: 0;
}

ul {
  gap: 4rem;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 10rem 1fr 5rem;
}

main {
  display: flex;
}

span {
  display: block;
  text-align: center;
}

.card {
  margin: 10px;
  border: 2px dotted;
  font-size: 1.5em;
  background-color: red;
}

.adjust {
  overflow: auto;
  min-width: 400px;
  height: 100%;
  background-color: beige;
  resize: horizontal;
}

/* A container context based on inline size */
.post {
  resize: both;
  container-type: inline-size;
  container-name: post;
  border: 2px solid;
  flex-grow: 0.8;
}

/* Apply styles if the container is narrower than 650px */
@container post (width < 650px) {
  .card {
    width: 50%;
    background-color: gray;
    font-size: 1em;
  }
}
